<div class=" mt-4 mb-8">
  <h1 class="font-bold text-4xl">Welcome</h1>
  <span class="text-gray-700">
    We are xyz organization.
  </span>
</div>

<%= render :template => "products/_products", :locals => { :products => @products } %>
