<h1 class="text-2xl font-medium">Products</h1>


<ul>
  <% @products.each do |product| %>
    <li>
      <a href="/<%= product[:id] %>">
        <%= product[:name] %>
      </a>
    </li>
  <% end %>
</ul>
